<!-- 
    1. THe post itself
    2. with the ability to update and delete
-->

<div class="create-new-post card">
  <div class="card-header">
    Edit Post
  </div>
  <form class="new-post-form card-body">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <input class="form-input" type="text" id="post-content" />
    </div>
    <button type="submit" class="btn btn-dark btn-lg btn-block">Update Post</button>
    <button type="submit" class="btn btn-dark btn-lg btn-block">Delete</button>
  </form>
</div>

  <script src="/js/posts.js"></script>