<div class="card">
    <div class="card-header">
        Login
    </div>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input id="username-login" type="text" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" class="form-input" />

        <button type="submit" class="btn btn-primary">Login!</button>
        <a href="#">Sign up instead</a>
    </form>
</div>

<div class="card hidden">
    <div class="card-header">
        Sign Up
    </div>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input id="username-login" type="text" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" class="form-input" />

        <button type="submit" class="btn btn-primary">Sign Up!</button>
        <a href="#">Login instead</a>
    </form>
</div>

<script src="./js/login.js"></script>