header {
    background-color: #221010;
}

main {
    background-color:#c4d6bd ;
}

a {
    color: #c4d6bd;
    padding: 3%;
}

h1 {
    color: #ffff;
    border: #c4d6bd;
    margin-left: 30px;
}

.hidden {
    display: none;
}


body, html {
    background-color: #c4d6bd;
  }

.previous-posts {
    margin-bottom: 10px;
}

.new-post {
    background-color: #221010 ;
    color: #ffff;
    
}

.add-new-post {
    margin: 15px;
}

.btn-block {
    color: #ffff;
}
  
 .all-posts {
   margin-bottom: 10px;
 }